#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
    height: 100px;
    width: 200px;
}
#custom-bootstrap-menu.navbar-default {
    font-size: 17px;
    background-color: rgba(248, 248, 248, 1);
    background: -webkit-linear-gradient(top, rgba(102, 0, 51, 0.3) 0%, rgba(248, 248, 248, 1) 100%);
    background: linear-gradient(to bottom, rgba(102, 0, 51, 0.3) 0%, rgba(248, 248, 248, 1) 100%);
    border-width: 1px;
    border-radius: 10px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(248, 248, 248, 0);
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(166, 192, 230, 1);
    border-radius: 0px 20px 0px 20px;
    margin-top: 10%;
    margin-bottom: 10%;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(95, 82, 235, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #5f52eb;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #5f52eb;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #5f52eb;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #f8f8f8;
}
.courseform{
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 40px 40px 40px 40px;
    background-color: rgba(102, 0, 51, 0.3);
    border: 5px outset brown;
}
.profile{
    margin-right: 200px;
}
body{
    background-image: url("../images/cs.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
{
    background-color: rgba(102, 0, 51, 0.1);
}